@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);

$gray1: #CCCCCC;
$gray2: #F8F8F8;
$gray3: #AAAAAA;
$black: #333333;

html, body {
    height: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    background-color: $gray2;
}

.sidebar {
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 260px;
    position: absolute;
    padding: 10px;
    background-color: $black;

    .name {
        color: $gray1;
        padding: 8px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;

        a {
            color: $gray1;
        }
        a:hover {
            text-decoration: none;
        }
    }

    .avatar {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 100px;
        margin: 0 auto 0 auto;
    }

    .social {
        width: 100%;
        margin: 0 auto 0 auto;
        padding: 0;
        display: inline-block;
        font-size: 2em;
        text-align: center;

        li {
            color: $gray1;
            margin: 0 4px;
            display: inline;
            text-align: center;
            list-style-type: none;

            a {
                color: $gray1;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
}

.mainbar {
    height: 100%;
    line-height: 24px;
    margin-left: 280px;

    article {
        padding: 16px;

        &:not(:first-child) {
            border-top: 1px dashed $gray3;
        }

        time {
            color: $gray3;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}
