---
pageable: true
per_page: 3
---
<% page_articles.each do |article| %>
    <article>
        <time><%= article_date(article) %></time>
        <h2><%= link_to article.title, article %></h2>
        <%= strip_summary(article.summary) %>
    </article>
<% end %>

<% if num_pages > 1 %>
    <div class="pagination pull-right">
        <%= pagination_links %>
    </div>
<% end %>